Source: fonts-firacode
Section: font
Priority: optional
Maintainer: Udacv <2655960961@qq.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 6.2
Homepage: https://github.com/tonsky/FiraCode


Package: fonts-firacode
Architecture: any
Description: FiraCode is a free monospaced font with programming ligatures.
